.env
.vscode
__pycache__
.mypy_cache
chat2ground.log*
grounder_output/
dev.ipynb
data/
build/
*.egg-info
*.zip
session_output/
session_data/
notebooks/
scene_images/
backup_data/
data_inthewild/
.pytest_cache/
gradio_cached_examples/
```
outputs/exported/lerf/2023-09-02_173746/nerfstudio_model/step-000029999.ckpt
data
run_api.sh